<ion-view animation="no-animation">
  <ion-content scroll="false">
    <ion-slide-box on-slide-changed="slideHasChanged($index)" show-pager="false" active-slide="myActiveSlide">
      <ion-slide>
        <div class="box blue"></div>
      </ion-slide>
      <ion-slide>
        <div class="box yellow">
          <p>Loooorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum et cursus est. Suspendisse non sem eget erat dignissim luctus. Nullam sit amet nisi sit amet orci egestas mollis. Etiam ultrices suscipit ligula at aliquet. In congue sollicitudin ipsum, sed vestibulum nibh accumsan eu. Curabitur viverra aliquet sem sed fermentum.</p>
          <p>In a mauris laoreet, sagittis massa sit amet, ultrices libero. Duis convallis odio lectus, et ultricies sapien condimentum eu. Proin ut fermentum ex. Fusce dignissim turpis id neque dictum malesuada. Nullam sagittis, dolor ac rutrum posuere, dui justo efficitur libero, nec accumsan nisl massa ut eros. Mauris a diam dolor. Nam iaculis vestibulum odio, vitae aliquet purus tristique a. Sed dapibus dui velit, condimentum ultricies libero facilisis vel.</p>
        </div>
      </ion-slide>
      <ion-slide>
        <div class="box pink"></div>
      </ion-slide>
    </ion-slide-box>
  </ion-content>
</ion-view>
