<ion-view view-title="Account">
  <ion-content>
  	<ion-list>
	  <div class="item item-button-right">
	    Ajouter joueur
	    <button class="button button-positive">
	      <i class="icon ion-plus-round"></i>
	    </button>
	  </div>
	  <ion-item ng-click="showPopup()">
	    Joueur 1
	  	<ion-option-button class="button-assertive">Supprimer</ion-option-button>
	  </ion-item>
	  <ion-item>
	    Joueur 2
	  	<ion-option-button class="button-assertive">Supprimer</ion-option-button>
	  </ion-item>
	  <ion-item>
	    Joueur 3
	  	<ion-option-button class="button-assertive">Supprimer</ion-option-button>
	  </ion-item>
	</ion-list>
  </ion-content>
</ion-view>